@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.landscape-slide {
    width: var(--slide-width);
    height: calc(var(--slide-width) / 1.5);
}

.portrait-slide {
    width: var(--slide-width);
    height: calc(var(--slide-width) * 1.5);
}

body {
    padding: 0;
    margin: 0;
    background-color: #0f0f11;
}

.bg-primary {
    background-color: #0f0f11;
}

.app {
    background-color: #0f0f11;
    background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
        linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
    background-size: 4em 4em;
    /* height: 100vh; */
    position: relative;
    /* overflow: auto; */
}

.bg-dots {
    width: 100%;
    height: 100%;
    background-color: #0f0f11;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 2em 2em;
    /* background-position: -5px -5px; */
    /* animation: moveBackground 5s linear infinite; */
}

.grid-background-animated {
    background-color: #0f0f11;
    background-image: linear-gradient(#212225 0.2em, transparent 0.2em),
        linear-gradient(90deg, #212225 0.2em, transparent 0.2em);
    background-size: 4em 4em;
    animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0em 4em;
    }
}

.bg-noise {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200%;
    z-index: -10;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 1;
    visibility: visible;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

audio::-webkit-media-controls-panel {
    background-color: '#56AEFF';
  }